# Server Configuration
SERVICE_URL=

# Cotalker URLs
WEB_BASE_URL=
BASE_URL=
FILES_BASE_URL=
COTALKER_TOKEN=

# Application Settings
APP_SETTINGS="./config/develop.json"

# AWS S3 Configuration
AWS_S3_SECRET_ACCESSKEY=
AWS_S3_BUCKET_NAME=
AWS_S3_ACCESSKEY_ID= 